/* CSS RESETS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}
/* /CSS RESETS */

.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 10px;
}

#result {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: rgb(71, 71, 71);
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #a5a5a5;
}
