@use "../abstracts/variables" as var;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var.$font-family-base;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}